<hr>
{% assign final_post = site.posts | where: "serieslast", page.series %}
<nav class="series">
  <h4><em>{{ site.data.series | where: 'id', page.series | map: 'title' }}</em> Series</h4>
  {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
  {% assign complete = site.data.series | where: 'id', page.series | map: 'complete' | upcase %}
  {% for post in series-posts %}
    {% if post.url == page.url %}
      {% assign prev_post_index = forloop.index | minus: 1 %}
      {% assign curr_post_index = forloop.index %}
      {% assign next_post_index = forloop.index | plus: 1 %}
    {% endif %}
  {% endfor %}
  <div class='series-nav'>
  {% for post in series-posts %}
    {% if prev_post_index == 0 and forloop.first %}
    <div class="series-nav-item prev">
    </div>
    {% elsif prev_post_index == forloop.index %}
    <div class="series-nav-item prev">
      <a class="btn" rel="prev" href="{{ site.baseurl }}{{ post.url }}">&larr; Prev Post</a>
    </div>
    {% endif %}
    {% if forloop.index == curr_post_index %}
    <div class="series-nav-item current">
      <p>Post <strong>{{ curr_post_index }}</strong> of <strong>{{ series-posts.size }}</strong>
    </div>
    {% endif %}
    {% if next_post_index > forloop.length and forloop.last %}
    <div class="series-nav-item next">
    {% if final_post != empty%}
      Bonus: <a href="{{ site.baseurl }}{{final_post | map: 'url'}}">{{final_post | map: "title"}}</a>
    {% elsif complete contains 'FALSE' %}
      <p>More posts coming soon!</p>
    {% endif %}
    </div>
    {% elsif next_post_index == forloop.index %}
    <div class="series-nav-item next">
      <a class="btn" rel="next" href="{{ site.baseurl }}{{ post.url }}">Next Post &rarr;</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</nav>
