<nav id="sidebar">
  <div class="toc-wrapper">
  <h4>Table of Contents</h4>
<aside markdown="1" class='toc'>
* TOC
{:toc}
</aside>
  </div>

{% if page.series and page.series != "" and page.series != "false" and page.series != "False" %}
  {% assign series_conditional = true %}
{% endif %}

{% if series_conditional %}
{% assign current_series = site.data.series | where: 'id', page.series %}
{% assign final_post = site.posts | where: "serieslast", page.series %}
<aside class="series">
  <h4>This post is part of the series <em>{{current_series | map: 'title' }}</em></h4>
  <ol>
    {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
    {% for post in series-posts %}
    <li>
      {% if post.url == page.url %}
      <strong>{{ post.title }}</strong>
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% if final_post != empty %}
  <p>Bonus: <a href="{{ site.baseurl }}{{final_post | map: 'url'}}">{{final_post | map: "title"}}</a></p>
  {% endif %}
  {% assign test = current_series | map: 'complete' | upcase %}
  {% if test contains 'FALSE' %}
  <p>More posts coming soon! </p>
  {% endif %}
</aside>
{% endif %}
</nav>
