<nav id="sidebar">
  <div class="toc-wrapper">
  <h4>Table of Contents</h4>
<aside markdown="1" class='toc'>
* 
{:toc}
</aside>
  </div>
<aside class="series">
  <h4>This post is part of the series <em>{{ site.data.series | where: 'id', page.series | map: 'title' }}</em></h4>
  <ol start=1>
    {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
    {% for post in series-posts %}
    <li>
      {% if post.url == page.url %}
      <strong>{{ post.title }}</strong>
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% if series-posts.size == 1 %}
  <p>More posts coming soon!</p>
  {% endif %}
</aside>
</nav>
