---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {% if page.time %}
      • <span class="read-time"> Estimated Read Time: {{page.time}} mins</span>
      {% endif %} 
      {% if page.diff %}
      • <span class="page-diff"> Difficulty: <span class="{{ site.data.difficulty | where: 'id', page.diff | map: 'name' }}">{{ site.data.difficulty | where: 'id', page.diff | map: 'name' }}</span>
      </span>
      {% endif %} 
    </p>

  </header>
  
    {% if page.series and page.series != "" and page.series != "false" and page.series != "False" %}
      {% assign series_conditional = true %}
    {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


  {% if series_conditional %}
    {% include series-next-previous.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
